In [2]:
import pandas as pd

In [3]:
# Read data
root_data = "../data/indicies"
modulo = f"{root_data}/modulo"
left_index = f"{root_data}/left_index.csv"
right_index = f"{root_data}/right_index.csv"

In [5]:
left_index_pd = pd.read_csv(left_index)
right_index_pd = pd.read_csv(right_index)

In [10]:
user_tweet_df = pd.DataFrame(columns = ["Users", "Tweets"])
user_tweet_df.loc[len(user_tweet_df)] = [len(left_index_pd), len(right_index_pd)]
user_tweet_df

     Users   Tweets
0  1800529  1711584

In [17]:
for partition in ["0", "1"]:
    left_index_pd = pd.read_csv(f"{modulo}/partition_{partition}/left_index.csv")
    right_index_pd = pd.read_csv(f"{modulo}/partition_{partition}/right_index.csv")
    user_tweet_df = pd.DataFrame(columns = ["Users", "Tweets"])
    user_tweet_df.loc[len(user_tweet_df)] = [len(left_index_pd), len(right_index_pd)]
    display(user_tweet_df)

     Users   Tweets
0  1082669  1177351

    Users  Tweets
0  717860  534233