In [15]:
import pandas as pd

In [16]:
# Parameters
data = "../data/tweets-dedupe.csv"
sample = 500
output = "../data/users.json"

In [17]:
# Import users from dataset
columns = ["user", "tweet", "interaction"]
keep_columns = ["user"]

df = pd.read_csv(data, names=columns, usecols=keep_columns)
df = df.drop_duplicates()

In [18]:
# Sample users
if sample:
    df = df.sample(n=sample)

In [19]:
# Save results
df.to_json(output, orient="table")
df

                        user
2267238           4671229608
1396952           2312687048
5066612            228541032
3807989   946097265625538560
2680420  1018562002678108162
...                      ...
748630            1597388371
1156305           2696695362
5014030           1330692817
962078            2987955914
1527084  1108788657010425856

[500 rows x 1 columns]